body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.cadastroCliente {
    width: 800px;
    color: #727272;
}

.titlePage {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #003384;
    font-weight: bolder;
}

.btnSalvar {
    background-color: #003384;
    border: none;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}