.cadastroEndereco {
    width: 800px;
    color: #727272;
}

.btnSalvar {
    background-color: #003384;
    border: none;
}

.btnBuscar {
    background-color: #fff;
    color: #003384;
    border-color: #003384;
}

.form-check-label {
    color: #003384;
    font-weight: 400;
}

.titlePage {
    font-size: 1.5rem;
    color: #003384;
    font-weight: bolder;
}