.titulo {
    color: #003384;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.titlePage {
    display: flex;
}

.enderecos {
    border: 0.5px solid rgba(64, 102, 163, 0.30);
    border-radius: 10px;
}

.endereco-container {
    margin: 5px 0;
    text-align: left !important;
}

.endereco-container h6,
.endereco-container p {
    margin: 0px 0;
}

.endereco-container > h5 {
    color: #003384;
}

.editar {
    text-decoration: none;
    color: #003384;
    font-weight: bold;
}

.editar:hover {
    text-decoration: underline;
    color: #4066a3;
}

.addEndereco {
    background-color: #003384;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.addEndereco:hover {
    transition: 0.20s;
    background-color: #4066a3;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex-grow: 1;
}

.forma-azul-footer {
    margin-top: auto;
    overflow: auto;
}

#contador-carrinho {

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%; /* Altere o valor conforme necessário */
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%; /* Deixa o contador redondo */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;

}

#contador-carrinho.contador-ativo {
}

#contador-carrinho.contador-vazio {
}

#icone-carrinho {
    position: relative;
}

#contador-carrinho {
    position: absolute;
    top: -3x; /* Ajuste conforme necessário para o espaçamento vertical */
    right: -8px; /* Ajuste conforme necessário para o espaçamento horizontal */
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
}
