.titulo {
    color: #003384;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.titlePage {
    display: flex;
}

.enderecos {
    border: 0.5px solid rgba(64, 102, 163, 0.30);
    border-radius: 10px;
}

.endereco-container {
    margin: 5px 0;
    text-align: left !important;
}

.endereco-container h6,
.endereco-container p {
    margin: 0px 0;
}

.endereco-container > h5 {
    color: #003384;
}

.editar {
    text-decoration: none;
    color: #003384;
    font-weight: bold;
}

.editar:hover {
    text-decoration: underline;
    color: #4066a3;
}

.addEndereco {
    background-color: #003384;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.addEndereco:hover {
    transition: 0.20s;
    background-color: #4066a3;
}



