.custom-container {
    background-color: #f2f2f2; /* Cor de fundo cinza */
    height: 150px; /* Altura de 150px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.titlePage {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #003384;
    font-weight: bolder;
}

.titlesCard {
    color: #003384;
    margin: 0;
    font-weight: bold;
}

.contentCard {
    margin: 0;
}

.card {
    border: 0.5px solid rgba(64, 102, 163, 0.30);
    border-radius: 10px;
}

.card > p {
    color: #003384;
}

.meus-pedidos {
    margin-bottom: 20px;
}

.btn {
    background-color: #003384;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn:hover {
    transition: 0.20s;
    background-color: #4066a3;
}


.forma-azul-footer {
    overflow: hidden;

}

#contador-carrinho {

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%; /* Altere o valor conforme necessário */
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%; /* Deixa o contador redondo */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;

}

#contador-carrinho.contador-ativo {
}

#contador-carrinho.contador-vazio {
}

#icone-carrinho {
    position: relative;
}

#contador-carrinho {
    position: absolute;
    top: -3x; /* Ajuste conforme necessário para o espaçamento vertical */
    right: -8px; /* Ajuste conforme necessário para o espaçamento horizontal */
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
}
