* {
    /*border: 2px solid rgb(2, 209, 2); !important;*/
    margin: 0;
    padding: 0;
}

.fonte-maior {
    font-size: 25px;
}

.fonte-media {
    font-size: 20px;
}

.fonte-menor {
    font-size: 15px;
}

.principal {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.quant-size {
    display: flex;
}

#quantidade {
    margin-left: 50px;
    padding-left: 17%;
    width: 200px;
    height: 35px;

}

#estrelas-container {
    display: flex;
    width: 40px;
    height: 40px;
}

#botao {
    width: 300px;
    height: 50px;
    background-color: #003384;
}

#product-price {
    color: black;
}

#carousel-inner {
    width: 100%;
    height: 100%;
}

.between {
    margin-top: 30px;
}

/* Adicione estilos básicos */
#contador-carrinho {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545; /* Vermelho, ou a cor desejada para o fundo do contador */
    padding: 4px 8px;
    border-radius: 50%;
}

/* Adicione estilos específicos para quando há itens no carrinho */
#contador-carrinho.contador-ativo {
    /* Estilos adicionais quando há itens no carrinho */
}

/* Adicione estilos específicos para quando não há itens no carrinho */
#contador-carrinho.contador-vazio {
    /* Estilos adicionais quando não há itens no carrinho */
}

