* {
    /*border: 2px solid rgb(2, 209, 2); !important;*/
    margin: 0;
    padding: 0;
}

.fonte-maior {
    font-size: 25px;
}

.fonte-media {
    font-size: 20px;
}

.fonte-menor {
    font-size: 15px;
}

.principal {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.quant-size {
    display: flex;
}

#quantidade {
    margin-left: 50px;
    padding-left: 17%;
    width: 200px;
    height: 35px;

}

#estrelas-container {
    display: flex;
    width: 40px;
    height: 40px;
}

#botao {
    width: 300px;
    height: 50px;
    background-color: #003384;
}

#product-price {
    color: black;
}

#carousel-inner {
    width: 100%;
    height: 100%;
}

.between {

}

#contador-carrinho {

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%; /* Altere o valor conforme necessário */
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%; /* Deixa o contador redondo */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;

}

#contador-carrinho.contador-ativo {
}

#contador-carrinho.contador-vazio {
}

#icone-carrinho {
    position: relative;
}

#contador-carrinho {
    position: absolute;
    top: -3px; /* Ajuste conforme necessário para o espaçamento vertical */
    right: -8px; /* Ajuste conforme necessário para o espaçamento horizontal */
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
}
.bi{
    margin-right: 10px;
}

.forma-azul-footer {
    margin-top: 5vh;
    overflow: auto;

}

#carousel-inner img {
    width: 100%;
    height: auto;
}

#contador-carrinho {

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%; /* Altere o valor conforme necessário */
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%; /* Deixa o contador redondo */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;

}

#contador-carrinho.contador-ativo {
}

#contador-carrinho.contador-vazio {
}

#icone-carrinho {
    position: relative;
}

#contador-carrinho {
    position: absolute;
    top: -3x; /* Ajuste conforme necessário para o espaçamento vertical */
    right: -8px; /* Ajuste conforme necessário para o espaçamento horizontal */
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex-grow: 1;
}

.forma-azul-footer {
    margin-top: auto;
    overflow: auto;
}
